{
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "semi": true,
  "objectWrap": "preserve",
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 90,
  "tabWidth": 2,
  "proseWrap": "preserve",
  "bracketSameLine": false
}
