:root {
  --hand-ellipse-stroke-width: 3;
}

@media (max-width: 1023px) {
  :root {
    --hand-ellipse-stroke-width: 2;
  }
}

@media (max-width: 639px) {
  :root {
    --hand-ellipse-stroke-width: 2;
  }
}

@keyframes drawIn {
  from {
    stroke-dashoffset: 440%;
  }
  to {
    stroke-dashoffset: 0%;
  }
}

@keyframes drawOut {
  from {
    stroke-dashoffset: 0%;
  }
  to {
    stroke-dashoffset: 440%;
  }
}

/* .hand-ellipse-draw {
  stroke-dasharray: 440%;
  animation: drawIn 0.25s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
  display: none;
}

.hand-ellipse-undraw {
  stroke-dasharray: 440%;
  animation: drawOut 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
  display: block;
} */

.hand-ellipse-wrapper .hand-ellipse {
  stroke-dasharray: 440%;
  animation: drawOut 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

.hand-ellipse-wrapper[is-selected="true"] .hand-ellipse {
  stroke-dasharray: 440%;
  animation: drawIn 0.25s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

@media (pointer: fine) and (hover: hover) {
  body:not(.touch-device) .hand-ellipse-wrapper:hover .hand-ellipse {
    stroke-dasharray: 440%;
    animation: drawIn 0.25s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
  }
}
