@keyframes drawInPalo {
  0% {
    stroke-dashoffset: 160%;
  }
  50% {
    stroke-dashoffset: 0%;
  }
  100% {
    stroke-dashoffset: 0%;
  }
}

@keyframes drawInPunta {
  0% {
    stroke-dashoffset: -40%;
  }
  40% {
    stroke-dashoffset: -40%;
  }
  50% {
    stroke-dashoffset: 0%;
  }
  100% {
    stroke-dashoffset: 0%;
  }
}

.palo-draw {
  stroke: white;
  stroke-dasharray: 150%;
  animation: drawInPalo 5s ease-in-out alternate infinite;
}

.punta-draw {
  stroke: white;
  stroke-dasharray: 160%;
  animation: drawInPunta 5s ease-in-out alternate infinite;
}
