@keyframes slide-in {
  from {
    transform: translate(600%, -50%);
  }
  to {
    transform: translate(0, 0);
  }
}

.slide-in {
  transform: translate(600%, -50%);
}

.slide-in:has(canvas[data-engine]) {
  animation: slide-in 3s cubic-bezier(0, 0.765, 0.079, 1) forwards;
  -webkit-animation: slide-in 3s cubic-bezier(0, 0.765, 0.079, 1) forwards;
}
