@import "tailwindcss";

@theme {
  --color-turquesa: #1ec598;
  --color-gray: #888888;
  --color-gray-dark: #3b3b3b;
  --color-gray-dark-X: #2a2a2a;
  --color-gray-light: #d9d9d9;
  --font-Inter: "Inter", sans-serif;
}
