@import "tailwindcss";

@theme {
  --breakpoint-2xs: 21rem;
  --breakpoint-xs: 24rem;
  --color-turquesa: #1ec598;
  --color-gray: #888888;
  --color-gray-dark: #353535;
  --color-gray-dark-X: #2a2a2a;
  --color-gray-dark-XX: #171717;
  --color-gray-light: #d9d9d9;
  --font-Inter: "Inter", sans-serif;
}

body::selection {
  background-color: var(--color-turquesa);
  color: white;
}

.word {
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
}

.word-inner {
  display: inline-block;
}

.grid-pattern {
  background-size: 1rem 1rem;
  background-image: linear-gradient(
      to right,
      var(--color-gray-dark) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--color-gray-dark) 1px, transparent 1px);
}

.custom-highlight {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  --animate-width: 0%;
  --animate-padding-X: 0em;
}

.custom-highlight::before {
  position: absolute;
  inset: 0;
  overflow: hidden;
  transform-origin: left;
  width: var(--animate-width);
  padding-left: var(--animate-padding-X);
  padding-right: var(--animate-padding-X);
  content: "";
  background-color: var(--color-turquesa);
  border-radius: 100em;
  margin: -0.2em 0;
}

.custom-highlight::after {
  content: attr(highlight-text);
  position: absolute;
  inset: 0;
  color: white;
  padding: 0.2em 0.3em;
  margin-top: -0.2em;
  margin-bottom: -0.2em;
  overflow: hidden;
  pointer-events: none;
  clip-path: inset(0 calc(100% - var(--animate-width)) -0.1em 0 round 100em);
  border-radius: 100em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
