@import "tailwindcss";

@theme {
  --breakpoint-2xs: 21rem;
  --breakpoint-xs: 24rem;
  --color-turquesa: #1ec598;
  --color-gray: #888888;
  --color-gray-dark: #353535;
  --color-gray-dark-X: #2a2a2a;
  --color-gray-dark-XX: #171717;
  --color-gray-light: #d9d9d9;
  --font-Inter: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
}

b {
  font-weight: 700;
}

body::selection {
  background-color: var(--color-turquesa);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.grid-pattern {
  background-size: 1rem 1rem;
  background-image: linear-gradient(
      to right,
      var(--color-gray-dark) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--color-gray-dark) 1px, transparent 1px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes customBounce {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -0.5em;
  }
}

::-webkit-scrollbar-track {
  background-color: var(--color-gray-dark-X);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-turquesa);
}
